:root {
  --ifm-color-primary: #1c6758;
  --ifm-color-primary-dark: #185c4f;
  --ifm-color-primary-darker: #165649;
  --ifm-color-primary-darkest: #12463d;
  --ifm-color-primary-light: #207563;
  --ifm-color-primary-lighter: #237c69;
  --ifm-color-primary-lightest: #2a907a;
}
